@using System.Text.RegularExpressions;

<nav class="navbar bg-light">
    <div class="container-fluid">
        <h4 class="navbar-brand">TheSteroidBible</h4>
        <form class="d-flex" role="search">
            <input @bind-value="SearchTerm" @bind-value:event="oninput" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>

@code {

    [Parameter]
    public string SearchTerm { get; set; } = "";

}
