.con {
    margin-bottom: 40px;
    
}

.navbar {
    background-color: #000000;

}

.navbar-brand {
    color: #F6BA1E;

}

.con, .table {
    color: #0F0F0F;
}


.img-fluid {
    max-height: 700px;
}

.table-responsive{
    max-width: 1200px;
}

h4 {
    font-family: 'Times New Roman';
    font-size: 1.6rem;
}

@media only screen and (max-width: 450px) {
    .container-fluid{
        justify-content: center;
    }
}